$red: #d63031;
$orange: #e17055;
$yellow: #fdcb6e;
$green: #00b894;
$blue: #00cec9;
$indigo: #0984e3;
$violet: #6c5ce7;

@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}